.header {
  background-color: #fff;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 44.8px;
  height: 28px;
}

.header__nav {
  max-width: 1200px;
  /* margin: 0 auto; */
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.header__menu-item {
  position: relative;
}

.header__menu-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: #007bff;
  outline: none;
}

.header__menu-toggle {
  display: none;
}

.header__menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 17px;
}

@media (max-width: 768px) {
  .header__menu-icon {
    display: flex;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    padding: 10px 0;
  }

  .header__menu-item {
    width: 100%;
    text-align: center;
  }

  .header__menu-toggle:checked + .header__menu-icon + .header__menu {
    display: flex;
  }
}

@media (min-width: 769px) {
  .header__menu {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
  }

  .header__menu-item {
    text-align: left;
  }

  /* Hide hamburger icon on desktop */
  .header__menu-icon {
    display: none;
  }
}
